<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Meu Currículo</title>
  </head>
  <body>
    <h1>Projeto Alura</h1>
    <h2>Envie seu currículo para análise</h2>
    <form id="form-upload-pdf" method="post" enctype="multipart/form-data">
      <label for="pdf_file">Selecione o PDF:</label>
      <input type="file" id="pdf_file" name="pdf_file" accept=".pdf" />
      <button type="submit">Enviar</button>
    </form>
    <script>
      const form = document.getElementById("form-upload-pdf");
      const arquivoPDFInput = document.getElementById("pdf_file");

      function postPDF() {
        const formData = new FormData(form);

        axios({
          method: "post",
          url: "/api/resume", // URL da sua rota Flask
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
          .then(function (response) {
            // Tratar da resposta da rota Flask com sucesso
            console.log("PDF enviado com sucesso!");
            // Atualizar a página, exibir mensagem de sucesso, etc.
          })
          .catch(function (error) {
            // Tratar do erro no envio do PDF
            console.error("Erro ao enviar PDF:", error);
            // Mostrar mensagem de erro, etc.
          });
      }

      form.addEventListener("submit", function (event) {
        event.preventDefault();
        postPDF();
      });
    </script>
  </body>
</html>
